<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotify To YouTubeMusic</title>
    <style>
        span {
            background-color: yellow;
        }
    </style>
</head>
<body>
<h3>Drop your spotify music playlist link that you want to convert !</h3>
<h3>A sample example https://open.spotify.com/playlist/<span>0c5RPPFDRnZWO4IzLY1HiU</span></h3>
<h3>You have to copy the yellow part of the link and paste it below</h3>
<form action="/spotify-to-ytmusic" method="post">
    <label for="link">Spotify Music Playlist Link ID</label>
    <input type="text" name="spotify-link" required>
    <br>
    <button>Submit</button>
</form>
</body>
</html>